@media only screen and (max-width: 458px) {

    #herodesktop{
      background-image: url(/imagenes/hero-prueba.jpg);
      height: 812px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      background-repeat: no-repeat;
    }
    .titulodesktop{
      width: 85%;
    }
    #sustentable{
      display: none;
    }
    
    #sustentable2{
      display: none;
    }
  }
  
  @media only screen and (min-width: 458px) {
  
   
    
  #herodesktop{
    
      max-height: 100%;
      margin: 0;
      padding: 20%;
      background-image: url(/imagenes/hero-prueba.jpg);
      background-size:100% 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
  }
  .titulodesktop{
    width: 70%;
    font-size: 50px;
    font-weight: 600;
  }
  .subtitulodesktop{
    width: 70%;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
  }
    
  }